<section class="bg-main-light p-3 my-2 mx-auto w-75 rounded-2 shadow">
    <h1 class="text-main fw-bold"> Register Now</h1>
    @if (resText) {<h3 class="alert alert-danger p-2 text-center rounded w-50 mx-auto"> {{resText}}</h3>}


    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="my-2">
            <label for="name" class="mb-2"><span class="text-danger">*</span>Name</label>
            <input formControlName="name" type="text" [ngClass]="{'is-invalid':registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty), 'is-valid':!registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)}" class="form-control" id="name">
            @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){
                <div class="alert alert-warning my-2 p-2 fs-6 fw-bord rounded-2"> 
                    @if (registerForm.get('name')?.getError('required')) {<p class="m-0">Name is required</p>}
                    @else if (registerForm.get('name')?.getError('minlength')) {<p class="m-0">Minimum length is 3 letters</p>}
                    @else if (registerForm.get('name')?.getError('maxlength')) {<p class="m-0">maximum length is 10 letters</p>}
                </div>
            }
        </div>
        <div class="my-2">
            <label for="email" class="mb-2"><span class="text-danger">*</span>Email</label>
            <input formControlName="email" type="email" [ngClass]="{'is-invalid':registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty), 'is-valid':!registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)}" class="form-control" id="email">
            @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched){
                <div class="alert alert-warning my-2 p-2 fs-6 fw-bord rounded-2"> 
                    @if (registerForm.get('email')?.getError('required')) {<p class="m-0">Email is required</p>}
                    @else if (registerForm.get('email')?.getError('email')) {<p class="m-0">Email pattern is not correct</p>}
                </div>
            }
        </div>
        <div class="my-2">
            <label for="password" class="mb-2"><span  class="text-danger">*</span>Password</label>
            <input formControlName="password" type="password" [ngClass]="{'is-invalid':registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty), 'is-valid':!registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)}" class="form-control" id="password">
            @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched){
                <div class="alert alert-warning my-2 p-2 fs-6 fw-bord rounded-2"> 
                    @if (registerForm.get('password')?.getError('required')) {<p class="m-0">Password is required</p>}
                    @else if (registerForm.get('password')?.getError('pattern')) {<p class="m-0">Password pattern is not correct (must be 6 characters at least)</p>}
                </div>
            }
        </div>
        <div class="my-2">
            <label for="rePassword" class="mb-2"><span class="text-danger">*</span>Confirm Password</label>
            <input formControlName="rePassword" type="password" [ngClass]="{'is-invalid':registerForm.getError('misMatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty), 'is-valid':!registerForm.getError('misMatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty)}" class="form-control" id="rePassword">
            @if(registerForm.getError('misMatch') && registerForm.get('rePassword')?.touched){
                <div class="alert alert-warning my-2 p-2 fs-6 fw-bord rounded-2"> 
                     <p class="m-0">Confirm Password doesn`t match</p>
                </div>
            }
        </div>
        <div class="my-2">
            <label for="phone" class="mb-2"><span  class="text-danger">*</span>Phone</label>
            <input formControlName="phone" type="tel" [ngClass]="{'is-invalid':registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty), 'is-valid':!registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)}" class="form-control" id="phone">
            @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched){
                <div class="alert alert-warning my-2 p-2 fs-6 fw-bord rounded-2"> 
                    @if (registerForm.get('phone')?.getError('required')) {<p class="m-0">Phone is required</p>}
                    @else if (registerForm.get('phone')?.getError('pattern')) {<p class="m-0">Phone number patter is not correct (ex:01159607870)</p>}
                </div>
            }
        </div>
        <button [disabled]="registerForm.invalid" class="btn-main mt-3 d-block mx-auto w-50">Register
            @if(loading){<span><i class="fa-solid fa-circle-notch fa-spin"></i></span>}
        </button>
    </form>
</section>