<section class="bg-main-light p-3 my-2 mx-auto w-75 rounded-2 shadow">
    <h1 class="text-main fw-bold"> Register Now</h1>


    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetSubmit()">
        <div class="my-2">
            <label for="email" class="mb-2"><span class="text-danger">*</span>Email</label>
            <input formControlName="email" type="email" [ngClass]="{'is-invalid':resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.dirty), 'is-valid':!resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.dirty)}" class="form-control" id="email">
            @if(resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched){
                <div class="alert alert-warning my-2 p-2 fs-6 fw-bord rounded-2"> 
                    @if (resetPasswordForm.get('email')?.getError('required')) {<p class="m-0">Email is required</p>}
                    @else if (resetPasswordForm.get('email')?.getError('email')) {<p class="m-0">Email pattern is not correct</p>}
                </div>
            }
        </div>
        <div class="my-2">
            <label for="password" class="mb-2"><span  class="text-danger">*</span>New Password</label>
            <input formControlName="newPassword" type="password" [ngClass]="{'is-invalid':resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty), 'is-valid':!resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty)}" class="form-control" id="password">
            @if(resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched){
                <div class="alert alert-warning my-2 p-2 fs-6 fw-bord rounded-2"> 
                    @if (resetPasswordForm.get('password')?.getError('required')) {<p class="m-0">Password is required</p>}
                    @else if (resetPasswordForm.get('password')?.getError('pattern')) {<p class="m-0">Password pattern is not correct (must be 6 characters at least)</p>}
                </div>
            }
        </div>
        <button [disabled]="resetPasswordForm.invalid" class="btn-main mt-3 d-block mx-auto w-50">Reset Password</button>
    </form>
</section>